:root {
    --text-color: rgb(0, 0, 0);
    --page-color: rgba(78, 102, 116, 0.055);
    --primary-color: rgba(107, 182, 225, 0.822);
    --dark-primary-color: rgba(31, 31, 31, 0.856);
    --secondary-color: rgb(107, 182, 225);
    --shadow-color: rgba(51, 55, 58, 0.5);
    --text-dark:rgba(255,255,255, 2);
}
body {
    margin:0;
    padding: 0;
    background-color:  --page-color;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
    font-weight: 600;
}
.spacer {
    height: 1600px;
    width: 1px;
}

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    transition: background 15s;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: var(--secondary-color);
    box-shadow: var(--shadow-color) solid 1px;
    height: 15vh;
}

#logo-img {
    height: 60px;
}

.logo-text{
    font-size: 1rem;
    margin-left: 100px;
    text-shadow: 1px 1px var(--shadow-color) ;
}

.ul-reset {
    list-style-type: none;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.ul-reset a {
    text-decoration: none;
    color: var(--text-color);
}
.current-page  {
    font-weight: 700;
    text-decoration: underline !important ;   
}
.nav-page-links-li {
    display: inline-block;
    background-color: transparent;
}

.logo-container {
    display:inline;
}

.nav-page-links-ul {
    position: absolute;
    right: 0;
    width: 60vw;
    padding-inline-start:0;
    flex-grow: 1;
    white-space: nowrap;
    display:inline;
    margin: 0;
}

.burger-menu {
    position: absolute;
    right: 0;
    margin: 0 10px;
    display: none;
    background-color: var(--dark-primary-color);
    border: 0.5px solid rgba(0, 0, 0, 0.774);
    width: 35px;
    height: 33px;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5px;
    box-shadow: 3px 2px  var(--shadow-color);
}

.menu-line {
    background-color: rgba(255, 255, 255, 0.788);
    width: 80%;
    height:2px;
    border-radius: 20px;
    margin: 3px 0;
    box-shadow: 0,5px 0,5px  var(--dark-primary-color);
}

.footer-page-links, .footer-socials-links{
    padding-inline-start:0;
    flex-grow: 1;
    white-space: nowrap;
    display:flex;
    margin: 0;
}

.nav-page-links-li, .footer-socials-links  li, .footer-page-links li{
    white-space: nowrap;
    display:inline;
    margin: 4%;
}

.nav-page-links-ul li:hover,.footer-socials-links  li:hover, .footer-page-links li:hover{
    text-decoration: underline;
    text-shadow: var(--shadow-color) 0.5px 0.8px;
}

.banner {
    /* background-image: url("/Public/images/pexels-miguel-á-padriñán-1591058.jpg"); */
    /* background-image: url("/images/background.jpg"); */
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* background-size: 100VW; */
    width: 98vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner p, .banner h2 {
    text-align: center;
    opacity: 0; 
    color: var(--text-dark);
    text-shadow: black 2px 2px;
    font-size: 3rem;
    font-weight: 700;
}

.parallax {
      /* The image used */
  background-image: url("../images/pexels-pixabay-39284.webp");
/* 
  Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
    font-size: 40px;
}

.cards-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between ;
}

.cards-heading {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.card-heading {
    position: absolute;
    top :20px;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;   
    z-index: 0;  
    border: var(--secondary-color) solid 2px;
    background-color: var(--primary-color);
    flex-grow: -1;
    padding: 80px 30px;
    border-radius: 20px;
    margin: 1rem 1rem;
    box-shadow: 3px 3px  var(--shadow-color);
    transition: background-color 15s, border 15s;
}

.card ul{
    font-weight: 800;
    text-align: start;
    margin: 0;
}

.card-button:hover {
 cursor: pointer;   
 animation: tilt-shaking 0.3s infinite;
}

.card-button {
    position: absolute;
    bottom: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    background: var(--text-color);
    color: white;
    border: var(--secondary-color) solid 1px;  
    font-size:  20px;
    font-weight: 500;
    text-transform: capitalize;
}

footer {
    transition: background 15s, box-shadow 15s;
    background: var(--primary-color);
    border-top: var(--secondary-color);
    box-shadow: var(--shadow-color) solid 1px;
    padding: 20px;
}

footer .copy-right {
    text-align: center;
    margin-bottom: 0;
}

.footer-links-container  {
    display: flex;
    flex-grow: 1fr;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Media Queries */
/* Mobile */
@media only screen and (min-width: 768px) {
    .card:hover{
        /* transition: background 0.7s, color 0.7s, box-shadow 1.5s;
        background-color: var(--dark-primary-color);
        color: white; */
        animation: card-background 1s forwards;
        /* transition: background 1s !important; */
        /* background: var(--dark-primary-color); */
        /* color: white; */
        /* box-shadow: 30px 30px  var(--shadow-color); */
        /* box-shadow: 30px 30px  var(--shadow-color); */
    }
}
@media only screen and (max-width: 500px) {
    .logo-text{
        margin: 0;
        font-size: 40px;
    }
    .cards-container {
        flex-direction: column;
    }

    .burger-menu {
        display: flex;
    }

    .line-two {
        display: none;
    }

    .line-one {
        transition: position 1s, transform 1s;
        position: absolute;
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg); 
        -webkit-transform: rotate(45deg); 
        -moz-transform:rotate(45deg);
         transform: rotate(45deg); 
    }

    .line-three {
        transition: position 500ms, transform 500ms;
        position: absolute;
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg); 
        -webkit-transform: rotate(-45deg); 
        -moz-transform:rotate(-45deg);
         transform: rotate(-45deg); 
    }

    .menu-line {
        transition: position 500ms, transform 500ms;
    }

    .nav-page-links-ul{
        display: none;
        opacity: 0;
        display: none;

    }

    /* .nav-page-links-li {
        opacity: 0;
    } */

    
    .nav-page-links-ul-mobile {
        width: 50vw;
        display:block;
        background-color: var(--primary-color);
        border-bottom: var(--secondary-color);
        box-shadow: var(--shadow-color) solid 1px;
        position: fixed;
        top: 8vh;
        text-align: center;
        border:1px solid black;
        padding-bottom: 30px;
        opacity: 1;
    }

    .nav-page-links-li-mobile {
        display: block;
    }

    .nav-page-links-li-mobile a {
        font-size: 20px;
    }

    .card p, .card h4 {
        margin: 0.5rem;
    }

    nav {
        height: 8vh;
    }

    nav:hover{
    opacity:1;
    }

    .footer-links-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-page-links li , .footer-socials-links li {
        display:block;
        text-align: center;
    }

    .footer-page-links, .footer-socials-links{
        display: block
    }
    

    .card-intersect-shadow-mobile{
        animation: card-background 1s forwards;
        /* transition: background 1s !important; */
        /* background: var(--dark-primary-color); */
        /* color: white; */
        /* box-shadow: 30px 30px  var(--shadow-color); */
    }

}
/* Tablet */
@media only screen and (max-width: 768px) {
    .card {
        padding-left: 5px;
        padding-right: 5px;
    }
    .logo-text{
        font-size: 1rem;
        margin-left: 10px;
    }

    nav {
        height: 8vh;
    }
    .banner p, .banner h2 {
        font-size: 2rem;
    }
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
  }

  @keyframes card-background {
    100% { 
        /* transition: background 1s, box-shadow !important;  */
        background: var(--dark-primary-color) ;
        box-shadow: 30px 30px  var(--shadow-color) ;
        color: white;
        }
    /* 25% { transform: rotate(1deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); } */
  }